# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Archivos ZIP de Lambdas (si generaste alguno)
*.zip

# Archivos del sistema y editor
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store

# Archivos de logs
*.log